<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <script src="../client.js"></script>

</head>

<body>
    <div class="navbar">
        <a href="/">Xepelin</a>
    </div>

    <div class="login-container">
        <h2>Login con Google</h2>
        <a href="/auth" class="login-button">Ingresar</a>
    </div>

    <footer>
        <div class="footer-content">
            <span>dlcollao@uc.cl</span>
            <span>+569 54644319</span>
            <span>Software Engineer</span>
        </div>
    </footer>

</body>

</html>
